---

---

@charset "utf-8";

// HLB brand colors
$primary: #1f487e;
$secondary: #102442;
$secondary-hover: lighten($secondary, 10%);
$white-color: #ffffff;
$hover-color: #0d96bc;
$active-color: #0d98bf;

$media-color-one: #49759a;
$media-color-two: #744d9f;
$media-color-three: #00838f;
$media-color-four: #00838f;
$media-color-five: #00838f;

$submenu-font: 1rem;

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

$pre-text: normal;
$font-family: "Lato", sans-serif !important;
$font-weight-normal: normal;
$font-weight-medium: medium;
$font-weight-bold: bold;
$font-color: #3a3a3a;
$p-size: 0.9rem;
$p-line-height: 1.5rem;
$background-color-white: #ffffff;
$capatilize: capitalize;


// Mixins

@mixin touch() {
	@media screen and (max-width: $desktop - 1px){
    	@content
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop){
    	@content
	}
}

body {
  font-family: "Lato", sans-serif !important;
}
// Background
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
  	&-1 {
  		background-color: $media-color-one;
  		&:hover {
  			background-color: darken($media-color-one, 10%);
		}
  	}
  	&-2 {
  		background-color: $media-color-two;
  		&:hover {
  			background-color: darken($media-color-two, 10%);
		}
  	}
  	&-3 {
  		background-color: $media-color-three;
  		&:hover {
  			background-color: darken($media-color-three, 10%);
		}
  	}
  	&-4 {
  		background-color: $media-color-four;
  		&:hover {
  			background-color: darken($media-color-four, 10%);
		}
  	}
  	&-5 {
  		background-color: $media-color-five;
  		&:hover {
  			background-color: darken($media-color-five, 10%);
		}
  	}
  }
  &-1{
    //background-color: $primary;
    background: url('https://c.stocksy.com/a/YY3500/z0/1205314.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2{
    //background-color: $info;
    background: url('https://c.stocksy.com/a/FY3500/z0/1205295.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3{
    //background-color: $warning;
    background: url('https://c.stocksy.com/a/L1o500/z0/1383923.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4{
    //background-color: $danger;
    background: url('https://c.stocksy.com/a/Z22000/z0/7847.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-singpass{
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #be2e7d 0%, #d64e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline{
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(45deg, #009d62 0%, #0094d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &-parkingsg{
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0164b6 0%, #04a4e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

// Text color
.has-text-primary {
	color: $primary !important;
}
.has-text-secondary {
	color: $secondary !important;
}
.bg-media-color-1 {
  background-color: $primary  !important;
  &:hover {
    background-color: $secondary !important;
  }
}
.bg-media-color-2 {
  background-color: $primary  !important;
  &:hover {
    background-color: $secondary !important;
  }
}
.bg-media-color-3 {
  background-color: $primary  !important;
  &:hover {
    background-color: $secondary !important;
  }
}
.bg-media-color-4 {
  background-color: $primary  !important;
  &:hover {
    background-color: $secondary !important;
  }
}
.bg-media-color-5 {
  background-color: $primary  !important;
  &:hover {
    background-color: $secondary !important;
  }
}

// Menu/Left-nav
.bp-menu-list a.is-active {
  color: #0d98bf !important;
  border-bottom: 2px solid #0d98bf !important;
  font-weight: 600;
}
.bp-menu-list a:hover {
	color: $hover-color !important;
	border-bottom: 2px solid $hover-color !important;
}
.bp-menu-list a.third-level-nav-header {
  border-bottom: 1px solid  #323232 !important;
  color: #323232 !important;
  &:hover {
    border-bottom: 1px solid  $hover-color !important;
    color:  $primary !important;
  }
}
.bp-menu-list a.third-level-nav-header.is-active {
  border-bottom: 1px solid   $hover-color !important;
  color:   $primary !important;
}
.bp-menu-list .third-level-nav-div .has-text-secondary {
  color: $primary !important;
  border-bottom: 2px solid #0d96bc;
  line-height: 1.5rem;
}
.bp-menu-list li a.third-level-nav-item {
  padding: 10px 0 10px 0 !important;
}
.bp-menu-list .third-level-nav-div {
  margin-top: 15px;
}

// Button

.bp-button.is-text span {
  &:hover, &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}

// Secondary button
.bp-sec-button {
	color: $secondary;
	& span {
		border-bottom: 2px solid $secondary !important;
	}
	&:hover {
		& span {
	    	border-bottom: 2px solid $secondary-hover !important;
	    	color: $secondary-hover !important;
	  	}
	  	& i {
	    	color: $secondary-hover !important;
	  	}
	}
}

// Bottom navigation bar
.bottom-navigation {
	a {
		background-color: $secondary;
	    &:hover{
	      background-color: darken($secondary,10%) !important;
	    }
	}
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}
.breadcrumbs-wrap {
  background-color: $secondary !important;
}

// Pagination
.pagination {
	span {
		&:hover {
            border-color: $secondary;
            color: $secondary;
		}
        &.selected-page:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
	}
    .selected-page {
        background-color: $secondary;
        border-color: $secondary;
    }
}


// Homepage
#key-highlights{
	background-color: $primary;
	.col {
		border-left:1px solid darken($primary,10%);
		@include touch(){
			border-top:1px solid darken($primary,10%);
		}
		&:hover{
			background-color: darken($primary,10%);
		}
	}
}

// Navbar
.navbar{
  &-start{
    .navbar-item{
      a{
        &.active{
          @include touch(){
            border-bottom:2px solid $secondary;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
  }

  .navbar-item{
    .sub-link.is-active{
      color:$secondary;
    }

    .selector{
      &.active{
        background-color:$secondary;
      }
    }
    &.active{
      @include desktop(){
        border-bottom:1px solid $secondary;
      }
    }
  }
.navbar-item:hover {
  a {
    color:$secondary;
  }
  .selector {
      background-color:$secondary;
    }
  }
}
.navbar-dropdown {
  background-color: $primary  !important;
  &:hover {
    background-color: $secondary !important;
  }
}
.navbar-dropdown {
  background-color: $primary  !important;
  &:hover {
    background-color: $secondary !important;
  }
}
.navbar .navbar-item .sub-link {
 color: $white-color !important;
 &:hover {
   color: $hover-color !important;
 }
}

// Post-content
.content {
	h1, h2, h3, h4, h5 {
		color: $secondary;
		strong {
			color: $secondary;
		}
	}
	blockquote {
		border-left-color: $secondary;
	}
	blockquote > p {
		color: $secondary;
	}
	blockquote > ul {
		color: $secondary;
	}
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  font-size: 1rem;
}

.media-category-button:hover, .media-category-button.selected {
  color: $active-color;
  border-bottom: 2px solid $active-color;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

.news-content {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.is-centered {
  margin: auto;
}
.is-uppercase {
  text-transform: lowercase !important;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}

p {
  font-size: $p-size;
  line-height: $p-line-height;
}
b,
strong {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2rem;
}
h1 {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0px;
    font-weight: bold;
}
 h1 center {
  font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    font-weight: bold;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: bold;
}
h3 center {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 2.8125rem;
  font-weight: bold;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
.navbar .navbar-item {
  font-weight: normal;
  padding: 0;
  text-transform: lowercase;
}
.navbar .navbar-item a {
  font-size: 0.9rem !important;
  text-transform: uppercase !important;
  font-weight: 600;
}
.navbar .navbar-link {
  padding-right: 40px;
}
.navbar .navbar-item .sub-link {
  text-transform: $capatilize !important;
  font-size: $submenu-font !important;
}
.navbar .navbar-item .sub-link:first-child {
  text-transform: $capatilize !important;
}
.navbar .navbar-item .sub-link:last-child {
  text-transform: $capatilize !important;
}
.navbar .navbar-item img {
  width: 12rem !important;
  height: 12rem !important;
}
.navbar .navbar-item .selector.active {
  background-color: $hover-color
}
.navbar .navbar-item:hover a {
  color: $hover-color;
}
.navbar .navbar-item:hover .selector {
  background-color: $hover-color
}
small {
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0;
    font-weight: normal;
    line-height: 2rem;
}
code {
  font-family: $font-family;
  line-height: 1.8rem;
}
.content code {
  font-weight: $font-weight-normal;
  color: $font-color;
  font-size: $p-size;
}
.highlight {
  background-color: $background-color-white;
}
.content li {
  line-height: 2rem;
}
.content p {
  margin-top: 1.5rem;
  line-height: 1.5rem;
}
.content a {
  color: #257AB7;
  text-decoration: none;
  cursor: pointer;
} 
.content a:hover {
  color: #257AB7;
  text-decoration: underline !important;
  cursor: pointer;
}
.content h3 {
  margin-bottom: 0;
  margin-top: 1.5rem;
}
.content h5 {
  font-weight: 600;
}
.content strong {
  color: #333333;
  font-size: 0.9rem;
}
.has-text-white {
  color: white !important;
  text-align: left;
  text-transform: capitalize;
}
li {
  font-size: 0.9rem !important;
}
em {
  font-size: 0.9rem;
}
.bp-sec-button .is-uppercase {
  text-transform: uppercase !important;
}
.breadcrumbs-wrap h1 {
  font-size: 3rem;
}

/* Page nav */
.bp-menu-list li:not(:first-child) a {
  border-top: 0;
}
.bp-menu-list li {
  line-height: 1.5rem;
}
.bp-menu-list a {
  font-size: 0.9rem;
  padding: 0.8rem 0;
  font-weight: 600;
}
.bp-button.search-button {
  text-transform: capitalize !important;
  margin-bottom: 3rem;
}
#key-highlights .key-highlight-title {
  text-transform: uppercase !important;
}
.bp-hero-body {
  background: none;
  padding: 0;
}
#key-highlights .col p {
  text-align: center;
  font-size: 0.9rem !important;
  letter-spacing: 0.5px !important;
}

/* Footer */
.bp-footer {
 background-color: $secondary !important;
}
.bottom-navigation {
  height: 0;
}
.bottom-navigation a:hover {
  background-color: $primary !important;
}
.col.is-one-quarter,
.col.is-one-quarter-tablet {
  display: none;
}
.display {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
}
.col.is-three-quarters-desktop {
  flex: none;
  width: 100%;
}

/* link */
a[target="_blank"]:after {
  display: none;
}
a[href$=".pdf"] {
  margin-left: 0rem;
}
a[href$=".pdf"]:before {
  display: none;
}

@media (max-width: 1366px) {
  .navbar .navbar-item a {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 1280px) {
  .navbar .navbar-item a {
    font-size: 0.7rem !important;
  }
}
.imgsize {
  width: 300px;
  height: 300px;
}
hr {
  margin-top: 2rem !important;
}
.content ol {
  margin-left: 0.9rem !important;
}
pre {
  padding: 0 1.3rem !important;
}
@media screen and (min-width: 1280px) {
  .navbar-end {
      margin-left: -30px !important;
  }
}
.bp-footer .bp-container {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  p {
    font-size: .8rem;
  }
  .bp-dropdown-button {
    padding: 2.25rem 0.2rem;
  }
  h1 {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .bp-button .icon:last-child:not(:first-child) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .bp-section {
    padding: 2rem 1rem 0 1rem !important;
  }
  .bp-button {
    white-space: normal;
    text-align: left;
  }
  #key-highlights .col {
    border-left: 1px solid #1f487e;
  }
  #key-highlights {
    padding: 0 !important;
  }
  .bp-footer.top-section {
    margin-top: 0;
  }
  .bottom-navigation {
    background-color: #102442;
    float: left;
    width: 100%;
    display: inline-table;
  }
 }
@media (max-width: 700px) {
  .bp-dropdown-button {
    padding: 2.25rem 0.2rem;
  }
  p {
    font-size: 0.8rem;
  }
  .bp-button .icon:last-child:not(:first-child) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .bp-section {
    padding: 2rem 1rem 0 1rem !important;
  }
  .bp-button {
    white-space: normal;
    text-align: left;
  }
  #key-highlights {
    padding: 0 !important;
  }
  .bp-footer.top-section {
    margin-top: 0;
  }
  .bottom-navigation {
    background-color: #102442;
    float: left;
    width: 100%;
    display: inline-table;
  }
}
@media (max-width: 375px) {
  p {
    font-size: 0.7rem;
  }
  .bp-dropdown-button {
    padding: 2.25rem 0rem;
  }
  .bp-button {
    white-space: normal;
    text-align: left;
  }
  #key-highlights {
    padding: 0 !important;
  }
  .bp-footer.top-section {
    margin-top: 0;
  }
  .bottom-navigation {
    background-color: #102442;
    float: left;
    width: 100%;
    display: inline-table;
  }
}
@media (max-width: 360px) {
  p {
    font-size: 0.7rem;
  }
  .bp-button {
    white-space: normal;
    text-align: left;
  }
  #key-highlights {
    padding: 0 !important;
  }
  .bp-footer.top-section {
    margin-top: 0;
  }
  .bottom-navigation {
    background-color: #102442;
    float: left;
    width: 100%;
    display: inline-table;
  }
}
@media (max-width: 320px) {
  p {
    font-size: 0.7rem;
  }
  .bp-button {
    white-space: normal;
    text-align: left;
  }
  #key-highlights {
    padding: 0 !important;
  }
  .bp-footer.top-section {
    margin-top: 0;
  }
  .bottom-navigation {
    background-color: #102442;
    float: left;
    width: 100%;
    display: inline-table;
  }
}
.navbar-end {
  margin-left: -20px !important;
}
.navbar-start {
  margin: 0 !important;
}

/**Footer**/
.bp-footer.top-section {
  margin-top: 82px;
}
.bg-newssection {
  margin-bottom: -6rem;
}
.bp-footer .sub-header {
  margin-top: -2rem;
}
u {
  color: #222222;
}